@import "reset.css";




.page-header .wrap {
    max-width: 1350px;
    width:100%;
    margin: 0 auto;
    background-color: #fff;
  }

#logo {
  width: 100px;
  height: 100px;

}

h4#titre {
  float: left;
  padding-top: 50px;
    font-weight: bold;
    font-size: 1.2em;
    color: darkslateblue;
}
h4#titre span {
    float: left;
    font-weight: normal;
    font-size: 0.9em;
    font-style: italic;
    color: lightseagreen;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
}

header nav ul li a {
  float: left;
  text-align: center;
  color: white;
  font-size: 1em;
    font-weight: bold;
  background-color: darkslateblue;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  display: block;
  width: 14.285%;
  }

  header nav ul li a:hover {
    background-color: lime;
  }

header .icones img {
  width: 50px;
  height: 50px;
    float: left;

}
header .icones p {
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.9em;
}

header .icones {
  padding-top: 20px;
}
.log {
  float: left;

}
.log #logo {
  float: left;
}
.icones {
  float: right;

}

.icones div {
  float: left;
  padding-left: 70px;
}
img#imagemed {
  width: 1520px;
  height: 900px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-wrap {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-wrap input[type=text], .form-wrap input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-wrap input[type=text]:focus, .form-wrap input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-wrap .btn {
  background-color: #309488;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-wrap .cancel {
  background-color: red;
}
/**/
/* hover effect sur les boutons */
.form-wrap .btn:hover, .log-button:hover {
  opacity: 1;
}
.form-wrap label {
  color: #309488;
}

#bienvenue{
  color: #000;
  background-color: #fff;
  width: 100%;
  float: left;
}

#bienvenue .section2 {
  float: left;
  width: 50%;
  color: #000;
  text-align: center;
}

#bienvenue .section2 img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

#bienvenue h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 1.7em;
    font-weight: normal;
    line-height: 60px;
    color: lightseagreen;
}

#bienvenue h2 span {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    color: darkslateblue;
}
#bienvenue h3 {
    font-weight: bold;
    font-size: 1.1em;
}
#bienvenue .section2 p {

    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
}


hr{
    width: 50%;
    height: 2px;
    background-color: lightseagreen;
    border: none;

}

#equipe .section1 {
  float: left;
  width: 25%;
  color: #000;
  /*transition: all 0.5s;*/
  text-align: center;
  /*overflow: auto;*/
}
#equipe {
    color: #000;
    background-color: #fff;
    width: 100%;
    float: right;
    padding-bottom: 100px;
    padding-top: 50px;
}
#equipe .section1 img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
#equipe h2 {
    font-size: 1.8em;
    font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
    color: darkslateblue;
}

#equipe h3 {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    color: lightseagreen;
}

#equipe p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .wrap {
  max-width: 1350px;
  width:100%;
  margin: 0 auto;
}

.page-footer {
  color: #fff;
  font-size: .75em;
  background-color: lightseagreen;
  width:100%;
    padding-top: 50px;
    padding-bottom: 50px;

}
.page-footer a {
  color: #fff;
}

.columns {
  margin-left: 0;
  margin-bottom:0 ;
}
.column {
  float: left;
  width: 33%;

}
.column-title {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.column ul {
  list-style: none;
  padding-left: 0;
}
/* social-icons */
.social-icons li {
  float: left;
  margin-right: 5px;
  padding-top: 15px;
}
.social-icons a {
  background: url('../img/social-icons.png');
  display: block;
  width: 46px;
  height: 46px;
}
.social-icons .facebook {
  background-position: 0 0;
}
.social-icons .twitter {
  background-position: -52px 0;
}
.social-icons .facebook:hover {
  background-position: 0 -47px;
}
.social-icons .twitter:hover {
  background-position: -52px -47px;
}

.columns strong {
  font-weight: bold;
  font-style: italic;
}
.column .tweets li {
  font-size: .85em;
  font-family: arial,sans-serif;
  padding-bottom: 15px;
  text-align: justify;
}
.column .tweets a {
  font-weight: bold;
}
.column .post-list li {
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom-color: #4b4b4b;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
.column .post-list li a {
  font-size: .85em;
}

.copyright {
  float:left;
  margin-right: 35%;
}
.footernav {
  list-style: none;
  padding-left: 0;
}
.footernav li {
  display: inline-block;
}

.bottom-bar {
    padding-top: 20px;
}



